body {
  background-color: #f0f0f0;
  font-family: sans-serif;
}

header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
}
.sobre_mi, .p {
    font-size: large;
    text-align: center;
}
.hobbies {
  background-color: white;
  margin: 20px;
  padding: 15px;
  border-radius: 8px;
}

.img {
  width: 300px;
  border-radius: 50%;
  display: block;
  margin: 10px auto;
}

footer {
  background-color: #ddd;
  text-align: center;
  padding: 10px;
}
